@model Bestelling

<section>
        <div class="form-group">
            @Html.LabelFor(a => a.Bestellingsnummer, new { @class= "form-control"})
            @Html.DisplayFor(a => a.Bestellingsnummer, new { @class = "form-control" })
        </div>
        @Html.EditorFor(a => a.Artikelen)
        <a asp-action="VolgendeBestellingOphalen" asp-route-id="@Model.Bestellingsnummer" value="Volgende" class="btn btn-default">Volgende bestelling</a>
</section>