@model Bestelling

<section>
    <div class="form-group">
        <div class="form-control">
            @Html.LabelFor(a => a.Bestellingsnummer)
            @Html.DisplayFor(a => a.Bestellingsnummer)
        </div>
        <br />
        @Html.EditorFor(a => a.Artikelen)
        <a asp-controller="Factuur" asp-action="Details" asp-route-id="@Model.Bestellingsnummer" class="btn btn-default">Naar factuur</a>
    </div>
</section>