@model Bestelling

<section>
    <form asp-action="BestellingOphalen" method="put">
        <div class="form-group">
            @Html.LabelFor(a => a.Bestellingsnummer, new { @class= "form-control"})
            @Html.DisplayFor(a => a.Bestellingsnummer)
        </div>
        @Html.EditorFor(a => a.Artikelen)
        <input type="submit" value="Volgende" class="btn btn-default"/>
    </form>
</section>