@model Bestelling

<section>
    <div class="form-group">
        <div class="form-control">
            @Html.LabelFor(a => a.Bestellingsnummer)
            @Html.DisplayFor(a => a.Bestellingsnummer)
        </div>
        <br />
        @Html.EditorFor(a => a.Artikelen)
        <a asp-action="VolgendeBestellingOphalen" asp-route-id="@Model.Bestellingsnummer" value="Volgende" class="btn btn-default">Volgende bestelling</a>
    </div>
</section>