@model Bestelling

<section>
        <H1>Er is geen bestelling om opgehaald te worden.</H1>
        <a asp-action="VolgendeBestellingOphalen" value="Volgende" class="btn btn-default">Volgende bestelling</a>
</section>