<section>
    <h1>Voorwaarden</h1>
    <article>
        <h2>Gratis verzending vanaf 200 euro</h2>
        <p>
            Alle bestellingen van € 200,- of meer versturen we gratis. Voor bestellingen onder € 200,-, betaal je € 5,- verzendkosten.
            Gratis verzending vanaf 200 euro geldt alleen voor verzendingen binnen Nederland en België.
        </p>
    </article>
    <article>
        <h2>30 dagen bedenktijd</h2>
        <p>
            Bij Kantilever mag je 30 dagen nadenken over je aankoop. Zo kun je uitgebreid je artikel bestuderen en ervaren of deze volledig naar wens is.
        </p>
    </article>
    <article>
        <h2>Achteraf betalen</h2>
        <p>
            Voor bestellingen binnen Nederland is het mogelijk om met acteraf te betalen, als je je bestelling hebt ontvangen. 
            Bij je bestelling zit dan een factuur met een acceptgiro die je invult en naar je bank stuurt of voldoet via internetbankieren.
        </p>
    </article>
    <article>
        <h2>Gratis retourneren</h2>
        <p>
            Ben je toch niet tevreden over het artikel? Dan mag je het gratis retourneren en krijg je het gehele aankoopbedrag teruggestort op je rekening.
        </p>
    </article>
    <article>
        <h2>Voor 12.00 uur besteld, de volgende dag in huis</h2>
        <p>
            Bestel je op werkdagen voor 12.00 uur, dan geldt voor het grootste deel van ons assortiment dat je artikel de volgende dag al wordt bezorgd.
            Wij doen ons uiterste best om elke bestelling zo snel mogelijk te bezorgen. We zijn voor een deel wel afhankelijk van externe partijen, waardoor de bezorging in een enkel geval vertraagd kan zijn.
        </p>
    </article>
</section>