@model List<ApiArtikelenModel>

@{ 
    ViewData["Title"] = "Catalogus";
}

<h1>Catalogus</h1>
@foreach (var artikel in Model)
{
    <div asp-controller="Home" asp-action="Add" method="post" class="form-horizontal">

        <div class="col-md-4 column productbox">
            <div class="producttitle h3">@Html.DisplayFor(a => artikel.Naam)</div>
            <img src="@artikel.AfbeeldingUrl" class="img-responsive img-rounded productimg">
            <div class="productprice">
                <div class="productvoorraad">@Html.DisplayFor(a => artikel.Voorraad)</div>
                <div class="cartButton"><button onclick="addToCart(@artikel.GetJSON())" class="glyphicon glyphicon-shopping-cart btn btn-info" id="addToCart"></button></div>
                <div class="pricetext">&euro;@Html.DisplayFor(a => artikel.Prijs)</div>
           </div>
        </div>

    </div>
}
