@model CAN.Webwinkel.Agents.KlantAgent.Models.Klant
<fieldset>
    <legend class="h2">Uw gegevens</legend>
    <form asp-controller="Home" asp-action="Index" method="post">

        <div class="form-group">
            <label asp-for="Voornaam"></label>
            <input type="text" class="form-control" asp-for="Voornaam" placeholder="Voornaam" />
        </div>

        <div class="form-group">
            <label asp-for="Tussenvoegsels"></label>
            <input type="text" class="form-control" asp-for="Tussenvoegsels" placeholder="Tussenvoegsel" />
        </div>

        <div class="form-group">
            <label asp-for="Achternaam"></label>
            <input type="text" class="form-control" asp-for="Achternaam" placeholder="Achternaam" />
        </div>

        <div class="form-group">
            <label asp-for="Adres"></label>
            <input type="text" class="form-control" asp-for="Adres" placeholder="Adres" />
        </div>

        <div class="form-group">
            <label asp-for="Huisnummer"></label>
            <input type="text" class="form-control" asp-for="Huisnummer" placeholder="Huisnummer" />
        </div>

        <div class="form-group">
            <label asp-for="Postcode"></label>
            <input type="text" class="form-control" asp-for="Postcode" placeholder="Postcode" />
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
        </div>

        <div class="form-group">
            <label asp-for="Telefoonnummer"></label>
            <input type="tel" class="form-control" asp-for="Telefoonnummer" placeholder="Telefoonnummer" />
        </div>
        <button type="submit" onclick="Bestel()" class="btn btn-default">Bestel</button>
    </form>
</fieldset>

<script>
    "use strict";
    function Bestel() {
        var shopCart = JSON.parse(localStorage.getItem("Shopcart").toLowerCase());

        var bestelling = {
            "bestellingnummer" : null,
            "klantnummer" : 0,
            "artikelen" : shopCart,
            "bestelDatum" : null
        } ;

        console.log("bestelling") ;
        console.log(JSON.stringify(bestelling)) ;

        
        if (shopCart != undefined) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/bestelling",
                data: bestelling,
                success: function (data) {
                    alert(data);
                },  error: function (err) {
                    console.log(err) ;
                }
            });
        } else {
            alert("De winkelwagen is leeg!");

        }
    }
</script>