@model WinkelmandjeViewModel

<div class="col-md-12">
    @foreach (var artikel in Model.Winkelmandje.Artikelen)
    {

        <div>
            <div class="border column productbox">
                <div class="producttitle">@Html.DisplayFor(a => artikel.Naam)</div>
                <div class="productprice">
                    <div class="productvoorraad">@Html.DisplayFor(a => artikel.Aantal)</div>
                    <div class="pricetext">&euro;@Html.DisplayFor(a => artikel.Prijs)</div>
                </div>
            </div>
        </div>
    }
    <div class="border column productbox">
        <div class="producttitle">
            @Html.DisplayNameFor(a => a.Totaalprijs)
        </div>
        <div class="productprice">
           <div class="pricetext">&euro;@Html.DisplayFor(a => a.Totaalprijs)</div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <a asp-action="Registreren" class="btn btn-default">Verder</a>
</div>
